<div id="toolbox">
	<h2>Tools</h2>
  	<div class="btn-group btn-group-vertical" data-toggle="buttons-radio" >
  		<button type="button" class="btn btn-inverse" id="activating_tool" style="height:50px; width:100px;"><i class="icon-white icon-arrow-right"></i> Activate</button>
  		<button type="button" class="btn btn-inverse" id="repressing_tool" style="height:50px; width:100px;"><i class="icon-white icon-text-height"></i> Repress</button>
  		<button type="button" class="btn btn-inverse" id="arrow_tool"      style="height:50px; width:100px;"><i class="icon-white icon-move"></i> Drag</button>
</div>